#waiting_old{
	display: none;
	height: 48px;
	width: 48px;
	/* background-color:red; */
	position: absolute;
	left: 320px;
	top:50px;
	z-index: 3000;
}

#waiting {  
    position:   fixed;
    z-index:    31000;
    top:        200px;
    left:       150px;
    height:     400px;
    width:      500px;
    background:linear-gradient(
      			rgba(255, 255, 255, 0), 
      			rgba(255, 255, 255, 0)
    			),
                url('./images/wave.gif') 
                50% 50% 
                no-repeat;
}

#sidebar{
	float:left;
	width: 300px;
	margin-left:20px;

	
}
#sidebartitle{
	font-family: "Open Sans", "Arial",Verdana, Sans Serif;
	font-size: 1.5em;
	/* background-color: #8CD9FF; */
	margin-bottom: 20px;
	color: #5EBED0;
	width: 298px;
	text-align:center;
	border-bottom: 3px solid #5EBED0;
}
#sidebarbtn{
	position:relative;
	left: 50px;
	font-size: 14px;
	border: 1px solid #3472D0;
	border-radius: 4px;
	padding: 3px;
	background-color: #9AD0CB;
	color: white;
}
.sidebartxt{
	font-family: "Open Sans", "Arial",Verdana, Sans Serif;
	font-size: 1em;
	color: white;
	background-color: #5EBED0;
	border-radius: 12px;
	padding: 5px;
	margin-top: 8px;
}
#pagetitlediv{
	width: 100%;
	height: 40px;
	background-color:#3B8CFF;
	color: white;
	font-family: "Open Sans", "Arial",Verdana, Sans Serif;
}
#pagetitle{
	font-size: 32px;
	margin-left: 10px;
}
#pagesubtitle{
	font-size 20px;
	margin-left: 30px;
	
}
#instructionsbutton, #sliderbutton, #resetbtn, #aboutbutton{
	font-size 14px;
	color: #DCE5FF;
	margin-left: 30px;
	padding:2px;
	
	color: #2B3ABE;
	border-radius: 4px;
}
.on{
	background-color: yellow;
}
.off{
	background-color: #DCE5FF;
}

#searchdiv{
/* 	float:left; */
}
#searchbox{
	width:200px;
	height: 20px;
	font-size: 14px;
}
.spacer{
	clear: both;
	height: 20px;
}
#tooltip {
    padding: 5px 10px;
    background: #cad7e0;
    border: 1px solid #b2bdc3;
    opacity: 0.90;
}
#outerdiv{
  border-style:solid;
  position: relative;
  border-width:0px;
  float:left;
}
.b {
	/* box sizing puts the border on the inside */
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
	width: 60px;
	height: 60px;
	position:relative;
	border: 1px solid #E1E1E1; 
	float: left;
	/* margin: 2px; */
	line-height: 60%;
	text-align: center;
	z-index: 100;
  
}
.clicked{
	border: 4px solid #F0F;
}

.smallbtn{
	background-color: #B93D22;
	color: white;
	font-size: 14px;
	border-radius: 5px;
	padding: 3px;
	font-family: "Open Sans", "Arial",Verdana, Sans Serif;
	float:right;
}
#sliderinfodiv{
	position:absolute;
	text-align:left;
	line-height: 100%;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	width: 300px;
	padding: 8px;
	border: 2px solid #625B5F;
	background-color: #CAFFDB;
	z-index:130000;
}

#explanation, #sliderdiv, #about{
	margin: auto;
	position: absolute;
	top: 50px; left: 50px;
	width: 400px;
	right: 50px;
	z-index: 100000;
	color: #2156FE;
	background-color: #D3CCFE;
	padding: 5px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	border: 3px solid #008AF0;
}
#sliderdiv{
	border: 3px solid #2A78AC;
	background-color:#D9E2FF;
	text-align:center;
	line-height: 80%;
	width: 325px;
	height: 45px;
	left: 450px;
/* 	float: left; */
/* 	display:flex; */
	margin-left: 30px;
	border-radius: 5px;

}
#about{
	background-color:#F2C1FD
}

.explans{
	font-family: "Open Sans", "Arial",Verdana, Sans Serif;
	font-size: 14px;
	
	margin-top: 8px;
	
}
#bottomspacer{
	clear: both;
	width: 100%
	height: 100px;
}

.horizontal{
	/* 
border-color: #6572DA;
	border-width: 1px;
	border-bottom-width: 4px;
	border-top-width: 4px;
	border-left-width: 0px;
	border-right-width: 0px;
 */
}
.vertical{
	/* 
border-color: #DA1476;
	border-width: 1px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 4px;
	border-right-width: 4px;
 */
}
.both{
	/* 
border-top-color: #6572DA;
	border-bottom-color: #6572DA;;
	border-left-color: #DA1476;
	border-right-color: #DA1476;
	border-width: 4px;
 */

}
.author, .title{
	font-family: "Open Sans", "Arial Narrow","Open Sans",Verdana;
	font-size:10px;
}
.title{
	
	/* 
background-color:#DAD6B6;
	border-radius: 3px;
	width: 90%;
 */
	text-align:center;
}

#slidertext{
	font-family: "Open Sans",Arial,Verdana, sans serif;
	font-size:10pt;
	text-align:center;
}
.catsubjspan a{
	text-decoration: none;
	color: white;
	font-size: 0.7em;
}
.catsubjspan{
	background-color: #103D01;
	padding: 4px;
	border-radius: 4px;
	margin: 2px;
	display: flex;
	float: left;

}
.tiptitle{
	font-size: 22px;
	font-family: "Open Sans",Arial,Verdana;
	color: #590101;
	line-height: 90%;
}
.tipauth{
	font-size: 18px;
	font-family: "Open Sans",Arial,Verdana;
	color: #590101;
	line-height: 90%;
}
.tipsubj{
	font-size: 14px;
	font-family: "Open Sans",Arial,Verdana;
	color: #59394E;
	line-height: 90%;
}
.tipsearch{
	font-size: 12px;
	font-family: "Open Sans",Arial,Verdana;
	color: #59394E;
	line-height: 90%;
	font-style: italic;
}

#catcarddiv{
	display: none;
	width: 300px;
	/* max-height: 420px; */
	position: fixed;
	top: 100px;
	left: 800px;
/* 	border: 2px solid black; */
	background-color: white;
	z-index: 13000;
	/* box sizing puts the border on the inside */
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
	font-family: "Open Sans","Helvetica Neue",verdana,arial,sans serif;
}

.catlinkclass a{
	text-decoration: none;
	color: white;
	
}

.catlinkclass{
	font-size: 0.7em;
	padding: 3px;
	background-color: #3B6FB1;
	color: white;
	border-radius: 3px;
	border: 1px solid #031AB1;
	margin-left: 8px;
}
#bibdata{
	background-color: #FBFFD9;
}

.cardcatdivider{
	width: 275px;
	height: 18px;
	background-color: #4E4E4E;
	border: 2px solid #F1F1F1;
	color: #D1D1D1;
	font-size: 16px;
	font-weight: 600;
	font-family: "Open Sans",Arial,Verdana;
}

#cardtitle{
	font-size: 20px;
	font-family: "Open Sans","Helvetica Neue",verdana,arial,sans serif;
	padding: 8px;
	
}
#cardauthor{
	font-size: 14px;
	font-family:  "Open Sans","Helvetica Neue",verdana,arial,sans serif;
	background-color: white;
	
	
	
}
#catcardBasicInfo{
	width: 95%;
	text-align: center;
	border: 1px solid #898989;
}
#cardabstract{
	display: none;
	font-size: 12px;
	font-family:"Open Sans","Helvetica Neue",verdana,arial,sans serif;
	background-color: #E4E6FA;
	color: black; 
	overflow: scroll;
	/* border: 1px solid #70717C; */
	max-height: 175px;
	padding: 5px;
}
#cardtoc{
	display: none;
	font-size: 12px;
	font-family: "Open Sans","Helvetica Neue",verdana,arial,sans serif;
	background-color: #E4E6FA;
	color: black; 
	overflow: scroll;
	border: 1px solid #70717C;
	max-height: 175px;
	opacity: 1.0;
	padding: 5px;
}
#cardcatbtndiv{
	width: 290px;
	clear:both;
	height: 15px;
	background-color: red;
	color: white;
	font-family: "Open Sans," "Helvetica Neue", Helvetica, Arial, Verdana, Sans Serif;
	font-size: 12px;
	padding: 5px;
	
	/* text-align: center; */
	margin: 0 auto;
}
#hidecard{
	float:right;
}

#notice{
	position: fixed;
	top: 40px;
	text-align: left;
	left: 0;
	margin-right: auto;
	width: 40%;
	padding: 5px;
	z-index: 30000;
	background-color:  rgba(128,0,128,0.9); 
	color: white;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	-webkit-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.9);
	-moz-box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.9);
	box-shadow: 7px 7px 33px 0px rgba(0,0,0,0.9); 
}


/* --- TIPSTER ---*/

.tipster-theme-dw {
	background-color: #FF9924; /* for browsers that don't accept alpha in color*/
  	background-color: rgba(255, 255, 255, 0.7);
	width: 500px;
	color: #fff;
	/* width is set in tipster-base in tipster.css, which overrides this. So I nuked it */
	
}
/* Use this next selector to style things like font-size and line-height: */
.tipster-theme-dw .tooltipster-content {
	font-family: "Open Sans",Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	opacity: 0.8;
}
 



